@model AuthorizationLab.Core.Models.Document

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <h1>Document #@Model.Id</h1>
        <h2>Author: @Model.Author</h2>
    </div>
</body>
</html>