@using AuthorizationLab.Policy
@using Microsoft.AspNetCore.Authorization
@model System.Collections.Generic.IEnumerable<AuthorizationLab.Core.Models.Document>
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <h1>Document Library</h1>
        @{
            var requirement = new EditRequirement();
            foreach (var doc in Model) {
                if (await AuthorizationService.AuthorizeAsync(User, doc, requirement)) {
                    <p>
                        @Html.ActionLink("Document #" + doc.Id, "Edit", new {id = doc.Id})
                    </p>
                }
            }
        }
    </div>
</body>
</html>